@use "../abstracts" as a;

.header {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    padding-block: a.rem(32);

    &__container {
        @include a.flexbox($direction: row-reverse, $align: center, $justify: center);
        position: relative;

        @include a.bp($from: "desktop") {
            @include a.flexbox($direction: row, $align: center, $gap: a.rem(64));
        }
    }

    &__logo {
        &-img {
            width: clamp(3.875rem, 3.875rem + 0vw, 3.875rem);
        }
    }

    &__nav {
        @include a.flexbox($align: center);
        position: absolute;
        left: 0;

        @include a.bp($from: "desktop") {
            position: unset;
        }

        &-links {
            @include a.flexbox($direction: row, $gap: a.rem(20));
            list-style-type: none;

            .hover-underline-animation {
                display: inline-block;
                position: relative;
            }

            .hover-underline-animation::after {
                content: "";
                position: absolute;
                width: 50%;
                transform: scaleX(0);
                height: 2px;
                bottom: -15%;
                left: 50%;
                transform-origin: center;
                transform: translateX(-50%) scaleX(0);
                background-color: var(--color-white);
                transition: transform 0.25s ease-out;
            }

            .hover-underline-animation:hover::after {
                transform: translateX(-50%) scaleX(1);
            }

            .hover-underline-animation.center::after {
                transform-origin: bottom center;
            }

            .hover-underline-animation.center:hover::after {
                transform-origin: bottom center;
            }

            @include a.bp($from: "desktop") {
                @include a.flexbox($direction: row, $align: center, $gap: a.rem(40));
            }
        }

        &-link {
            text-transform: lowercase;
            text-decoration: none;
            font-size: var(--fs-body);
            font-weight: var(--fw-bold);
            color: var(--color-black);

            @include a.bp($from: "desktop") {
                color: var(--color-white);

                &:hover {
                    color: var(--color-grey-800);
                    transition: color 0.5s ease;
                }
            }
        }
    }

    @include a.bp($from: "desktop") {
        padding-block: a.rem(60);
    }
}
