@use "../abstracts" as a;

.wrapper {
    width: min(a.rem(1300), 100% - a.rem(40));
    margin-inline: auto;

    @include a.bp($from: "desktop") {
        width: min(a.rem(1300), 100% - a.rem(100));
    }
}
